body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  background: linear-gradient(45deg, #157485f1, #b9d0d3);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo img {
  width: 10vw;
  height: 15vh;
  margin-left: 50px;
}

.titulo_loja h3 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categorias{
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.categorias a{
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.menu_nav {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.menu_nav input {
  width: 180px;
  height: 35px;
  border-radius: 50px;
  padding-left: 10px;
  font-size: 20px;
}

.menu_nav img{
    width: 40px;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

.menu-mobile div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
  font-size: 50px;
}

.cat_repository{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.cat_card img{
display: flex;
width: 100%;
height: 50%;
}

.cat_card p{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.cat_card{
  width: 300px;
  height: 400px;
  border: 2px solid black;
  margin: 30px;
  display: block;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 5px black;

}


footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #157485f1, #b9d0d3);
  color: white;
  width: 100%;
  height: 30vh;

}

footer div {
  width: 25%;
}

h3 {
  font-size: 30px;
  margin: 5px;
}

.forma_pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forma_logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forma_logos img{
  width: 100px;
  height: 70px;
  margin-right: 30px;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ajuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ajuda a, .sobre a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

