<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <title>Digital_Store</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="./index.html"><img src="/img/logo1.png" alt=""></a>
        </div>
        
        <div class="titulo_loja">
            <h3>Digital Store</h3>
        </div>

        <div class="menu_nav">
            <a href="./pages/login/login.html"><img src="/img/user.svg" alt=""></a>
            <a href="./pages/sacola/sacola.html"><img src="/img/carrinho.svg" alt=""></a>
            <input class="pesquisa" type="search" placeholder="Pesquisar">
            <div class="menu_mobile">
               <a href=""><img src="/img/logo.menu.png" alt=""></a>
            </div>
        </div>
    </header>


</html>