<%- include('./partials/header') %> 


<main>

  <div class="categorias">
      <a href="/index.html">Home</a>
      <a href="">Calças</a>
      <a href="">Bermudas</a>
      <a href="">Sapatos</a>
      <a href="">Camisas</a>
      <a href="">Intima</a>
  </div>

  <h1>CONFIRMAÇÃO DE COMPRA</h1>

  <div class="pagamento">

          <div class="confirmacao">
              <h1>SEU PEDIDO FOI REALIZADO COM SUCESSO</h1>
              <h4>No momento, sua compra está passando pela confirmação de segurança pela operadora do cartão de crédito.

                  Estamos processando seu pedido. Você deverá receber em breve um e-mail com a confirmação da compra e o acompanhamento do pedido.
                  
                  Por favor, lembre-se de verificar sua caixa de spam, pois os e-mails podem acabar chegando por lá.</h4>
          </div>
  </div>
</main>

<%- include('./partials/footer') %> 