<%- include('./partials/header') %> 


    <main>
        <div class="categorias">
            <a href="/index.html">Home</a>
            <a href="">Calças</a>
            <a href="">Bermudas</a>
            <a href="">Sapatos</a>
            <a href="">Camisas</a>
            <a href="">Intima</a>
        </div>

            <section class="carrossel">
                <img class='foto'  src="/img/carrossel/foto1.png"/>
                <img class='foto'  src="/img/carrossel/foto4.jpg"/>
                <img class='foto'  src="/img/carrossel/foto3.jpg"  />
                <img class='foto'  src="/img/carrossel/foto5.jfif"  />
                <img class='foto'  src="/img/carrossel/foto2.jpg"  />
              </section>
        
        <h1>Escolha seu departamento</h1>
        
        <div class="departamentos">
            <a href="pages/masc/masc.html">
                <div class="moda_masc">
                <h1>Masculino</h1>

                </div>
            </a>

            <a href="pages/femi/femi.html">
            <div class="moda_femi">
                <h1>Feminino</h1>

            </div>
            </a>

            <a href="pages/infa/infa.html">
            <div class="moda_infa">
                <h1>Infantil</h1>

            </div>
            </a>

        </div>

    </main>
    
    <%- include('./partials/footer') %> 