<%- include('./partials/header') %>

<main>

    <div class="categorias">
        <a href="/index.html">Home</a>
        <a href="">Calças</a>
        <a href="">Bermudas</a>
        <a href="">Sapatos</a>
        <a href="">Camisas</a>
        <a href="">Intima</a>
    </div>
    
    <h1>MODA MASCULINA</h1>
    
    <div class="cat_repository">
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        <div class="cat_card">
            <a href="/pages/produto/produto.html"><img src="/img/carrossel/foto1.png" alt=""></a>
            <p>Nome Produto</p>
            <p>Descrição</p>
            <p>Tamanho</p>
            <p>R$ 0,00</p>

        </div>
        
    </div>

</main>

    <%- include('./partials/footer') %>