<%- include('./partials/header') %> 


<main>

  <div class="categorias">
      <a href="/index.html">Home</a>
      <a href="">Calças</a>
      <a href="">Bermudas</a>
      <a href="">Sapatos</a>
      <a href="">Camisas</a>
      <a href="">Intima</a>
  </div>

  <h1>PÁGINA DE PAGAMENTO</h1>

  <div class="pagamento">

          <div class="dados_pessoais">
              <h1>DADOS PESSSOAIS </h1>
          </div>

          <div class="formas_pagamento">
          <h1>FORMA DE PAGAMENTO</h1>
          </div>

          <div class="resumo_pedido">
              <h1>RESUMO DO PEDIDO</h1>
          </div>

  </div>
</main>

<%- include('./partials/footer') %> 