<%- include('./partials/header') %>


  <main>

    <div class="categorias">
      <a href="/index.html">Home</a>
      <a href="">Calças</a>
      <a href="">Bermudas</a>
      <a href="">Sapatos</a>
      <a href="">Camisas</a>
      <a href="">Intima</a>
    </div>

    <h1>DETALHES DO PRODUTO </h1>

    <div class="detalhes_produto">

      <div class="img_produto">
        <div>
          <a href="/img/carrossel/foto2.jpg"><img src="/img/carrossel/foto2.jpg" alt=""></a>
        </div>

        <select id="tamanho">
          <option>SELECIONE SEU TAMANHO</option>
          <option>P</option>
          <option>M</option>
          <option>G</option>
          <option>GG</option>
        </select>

        <div class="button">
          <a href="/pages/pagamento/pagamento.html"><input type="button" value="COMPRAR"></a>
          <a href="/pages/sacola/sacola.html"><img src="/img/carrinho.svg" alt=""></a>
        </div>
      </div>


      <div class="info_produto">
        <h6>Detalhes do produto
          Regata cropped de seda floral
          Estampa corrida floral, decote quadrado...
          </br>
          Material: seda.</br>
          Produzido em: Itália
          </br>
          Previsão de entrega
          Padrão: 20 de jul. - 27 de jul.
          Express: 20 de jul. - 26 de jul.</h6>
      </div>
    </div>
  </main>

  <%- include('./partials/footer') %>