<%- include('./partials/header') %>







  <main>

    <div class="categorias">
      <a href="/index.html">Home</a>
      <a href="">Calças</a>
      <a href="">Bermudas</a>
      <a href="">Sapatos</a>
      <a href="">Camisas</a>
      <a href="">Intima</a>
    </div>

    <h1>SACOLA</h1>

    <div class="container">

      <section>

        <div class="produto1">

          <a href="/img/carrossel/foto1.png"><img src="/img/carrossel/foto1.png" alt=""></a>
          <p>Produto 1</p>
          <select id="quantidade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <div id="remover">
            <a href=""><img src="/img/remover.png" alt=""></a>
          </div>
        </div>

        <div class="produto1">

          <a href="/img/carrossel/foto1.png"><img src="/img/carrossel/foto1.png" alt=""></a>
          <p>Produto 2</p>
          <select id="quantidade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <div id="remover">
            <a href=""><img src="/img/remover.png" alt=""></a>
          </div>
        </div>
        <div class="produto1">

          <a href="/img/carrossel/foto1.png"><img src="/img/carrossel/foto1.png" alt=""></a>
          <p>Produto 3</p>
          <select id="quantidade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <div id="remover">
            <a href=""><img src="/img/remover.png" alt=""></a>
          </div>
        </div>

      </section>
      <div class="valores">
        <h1>valores</h1>
      </div>


    </div>




  </main>



  <%- include('./partials/footer') %>