body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    width: 100%;
    background: linear-gradient(45deg, #157485f1, #b9d0d3);
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .logo img {
    width: 10vw;
    height: 15vh;
    margin-left: 50px;
  }
  
  .titulo_loja h3 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .categorias{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
  }
  
  .categorias a{
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
  
  .menu_nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
  
  .menu_nav input {
    width: 180px;
    height: 35px;
    border-radius: 50px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .menu_nav img{
      width: 40px;
  }
  
  .menu-mobile {
    display: none;
    cursor: pointer;
  }
  
  .menu-mobile div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
  }

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    
}

h6{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}
.detalhes_produto{
    display: flex;
    font-size: 50px;
    width: 70vw;
    height: 60vh;
    border: 3px solid black;
    margin-top: 25px;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 50px;
    
}

.img_produto{
    display: block;
    padding: 50px;
    width: 30vw;
    
}

.img_produto img{
    width: 30vw;
    height: 40vh;
    box-shadow: 10px 5px 5px black;
}

.button{
    display: flex;
    justify-content: center;
}

#tamanho{
    font-size: 20px;
    margin-left: 50px;
    text-align: center;
    width: 25vw;
    height: 3vh;
    color:rgb(7, 7, 7);
    font-weight: bolder;
    font-size: 25px;
    box-shadow: 10px 5px 5px black;
}

#tamanho option{
    color:rgb(7, 7, 7);
    font-weight: bolder;
    font-size: 25px;
}

.button input{
    background-color: rgb(19, 199, 19);
    cursor:pointer;
    width: 15vw;
    height: 3vh;
    font-size: 25px;
    margin-top: 50px;
    font-size: 35px;
    font-weight: bolder;
    box-shadow: 10px 5px 5px black;
}
.button img{
    width: 60px;
    height: 60px;
    margin-top: 40px;
    margin-left: 50px;
    box-shadow: 10px 5px 5px black;
}

.info_produto{
    width: 30vw;
}



footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, #157485f1, #b9d0d3);
    color: white;
    width: 100%;
    height: 30vh;

}

footer div {
    width: 25%;
}

h3 {
    font-size: 30px;
    margin: 5px;
}

.forma_pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forma_logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.forma_logos img{
    width: 100px;
    height: 70px;
    margin-right: 30px;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ajuda a, .sobre a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
